html,body{min-width: 1400px;}
.data1_box{padding: 20px;position: relative;overflow: hidden;}
.data1_background i{ position: absolute;font-size: 160px;right: -5px;top: -1px;opacity: .2;}
.data2_icon{width: 40%;}
.data2_value{width: 60%;padding: 10px 0;}



























































