html,body{min-width: 1400px;}
.data1_box,.data_box{padding: 20px;}
.data1_box{position: relative;overflow: hidden;}
.data1_background i{ position: absolute;font-size: 160px;right: -5px;top: -1px;opacity: .2;}
.data2_icon{width: 40%;}
.data2_value{width: 60%;padding: 10px 0;}
.data3_circle{height: 60px;width: 60px;display: inline-block;line-height: 60px;border-radius: 50%;}
.data4_icon{line-height: 1;padding: 4px 2px;font-size: 12px;display: inline-block;border-radius: 100%;background-color: #c5fad3;color: #2ec551;}

























































