<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mian</title>
    <link rel="stylesheet" href="../public/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" href="../public/element/index.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/base.css">
    <script src="../public/js/vue.min.js"></script>
    <script src="../public/element/index.js"></script>
</head>

<body>
    <div id="app">
        <div class="main" style="background: #E9EEF3;">
            <h3 class="color_333 main m_b_15">数据展示</h3>
            <el-row :gutter="20" class="m_b_15">
                <el-col :span="8" v-for="(item_1,index_1) in data_box" >
                    <div class="data1_box border_round t_center color_white" :class="data_box_bg[index_1]">
                        <div class="f16">{{item_1.name}}</div>
                        <div class="f_bold f36">{{item_1.num}}</div>
                        <div class="m_t_15">{{item_1.desc}}</div>
                        <div class="data1_background"><i class="fa fa-cart-plus"></i></div>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" class="m_b_15">
                <el-col :span="8" v-for="(item_1,index_1) in data_box">
                    <div class="bg_white border_round t_center f45 display_flex align" :class="data_box_bg[index_1]">
                        <div class="data2_icon color_white" ><i class="fas fa-users"></i></div>
                        <div class="data2_value color_99 bg_white">
                            <p>{{item_1.num}}</p><p class="f14">{{item_1.desc}}</p>
                        </div>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" class="m_b_15">
                <el-col :span="8" v-for="(item_1,index_1) in data_box">
                    <div class="bg_white border_round t_center" :class="data_box_bg[index_1]">
                        <div class="display_flex align">
                            <i class="fas fa-users"></i>
                            <p>{{item_1.num}}</p>
                        </div>
                        <p>{{item_1.desc}}</p>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                data_box:[
                    {id:1,name:'标题1',num:751,desc:"这是说明"},
                    {id:2,name:'标题2',num:129,desc:"这是说明"},
                    {id:3,name:'标题3',num:78,desc:"这是说明"},
                ],
                data_box_bg: ["bg_23","bg_2b","bg_e3"],
            }
        },
        methods: {}
    })
</script>

</html>